<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <div id="loading"></div>

    <div class="container mt-5">
        <div class="row mb-3 ">
            <div class="col">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newTaskModal">
                    New Task
                </button>
            </div>
        </div>

        <div class="row" id="taskList">
        </div>
    </div>

    <!-- New Task Modal -->
    <div class="modal fade" id="newTaskModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="taskForm">
                        <div class="form-group">
                            <label for="taskName">Task Name</label>
                            <input type="text" class="form-control" id="taskName" name="taskName" required>
                        </div>
                        <div class="form-group">
                            <label for="taskDescription">Task Description</label>
                            <textarea class="form-control" id="taskDescription" name="taskDescription" rows="3"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="taskDate">Date</label>
                            <input type="date" class="form-control" id="taskDate" name="taskDate" required>
                        </div>
                        <div class="form-group">
                            <label for="taskTime">Time</label>
                            <input type="time" class="form-control" id="taskTime" name="taskTime" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-block" id="addTaskBtn">Add Task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Task Details Modal -->
    <div class="modal fade" id="taskDetailsModal" role="dialog" aria-labelledby="taskDetailsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="taskDetailsModalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="taskDetailsModalBody">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Task Edit Modal -->
    <div class="modal fade" id="editTaskModal" role="dialog" aria-labelledby="editTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskModalLabel">Edit Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editTaskForm">
                    <div class="modal-body">
                        <input type="hidden" name="taskId">
                        <div class="form-group">
                            <label for="taskName">Task Name</label>
                            <input type="text" class="form-control" id="taskName" name="taskName" required>
                        </div>
                        <div class="form-group">
                            <label for="taskDescription">Task Description</label>
                            <textarea class="form-control" id="taskDescription" name="taskDescription" rows="3"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="taskDate">Date</label>
                            <input type="date" class="form-control" id="taskDate" name="taskDate" required>
                        </div>
                        <div class="form-group">
                            <label for="taskTime">Time</label>
                            <input type="time" class="form-control" id="taskTime" name="taskTime" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Update Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Task Delete Modal -->
    <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog"
        aria-labelledby="deleteTaskModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTaskModalTitle">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="deleteTaskModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Yes</button>
                </div>
            </div>
        </div>
    </div>


    {% include 'message.html' %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>